@model VectorShop.Models.ViewModels.AdvertViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    ViewBag.Title = "ایجاد تبلیغات";
}


@using (Html.BeginForm("Create", "Advert", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p class="text-warning">توجه: اولویت تبلیغات میتوانید از یک تا ده باشد، اگر دو تبلیغ اولویت یکسان داشتند عنوان تبلیغ برای مرتب کردن به کار می رود.</p>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.AdvertTitle, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvertTitle, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.AdvertTitle, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvertPriority, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvertPriority, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.AdvertPriority, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvertUrl, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvertUrl, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.AdvertUrl, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvertPicture, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">

                <div class="fileupload fileupload-new" data-provides="fileupload">
                    <span class="btn btn-default btn-file">
                        <span class="fileupload-new">انتخاب عکس</span>
                        <span class="fileupload-exists">تغییر عکس</span>
                        <input type="file" name="AdvertPicture" id="AdvertPicture" title="اضافه کردن عکس" accept=".jpg,.jpeg,.gif,.png" />
                    </span>
                    <span class="fileupload-preview"></span>
                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                </div>

                @Html.ValidationMessageFor(model => model.AdvertPicture, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ایجاد" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
